<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_4_0.xsd"
         version="4.0">

    <!-- filter -->
    <filter>
        <filter-name>HellBoardLoginFilter</filter-name>
        <filter-class>com.hellBoard.filter.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HellBoardLoginFilter</filter-name>
        <url-pattern>/list/*</url-pattern>
        <url-pattern>/page/*</url-pattern>
    </filter-mapping>
    <!-- filter -->

    <!-- servlet -->
    <servlet>
        <servlet-name>HellBoardServlet</servlet-name>
        <servlet-class>com.hellBoard.HellBoardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HellBoardServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HellBoardJoinServlet</servlet-name>
        <servlet-class>com.hellBoard.web.JoinServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HellBoardJoinServlet</servlet-name>
        <url-pattern>/join</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HellBoardListServlet</servlet-name>
        <servlet-class>com.hellBoard.web.ListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HellBoardListServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HellBoardLoginServlet</servlet-name>
        <servlet-class>com.hellBoard.web.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HellBoardLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!-- servlet -->
</web-app>