<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_4_0.xsd"
         version="4.0">

    <!-- filter -->
    <filter>
        <filter-name>HellBoardCharacterSetFilter</filter-name>
        <filter-class>main.java.com.hellBoard.filter.CharacterSetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>HellBoardCharacterSetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>HellBoardLoginFilter</filter-name>
        <filter-class>main.java.com.hellBoard.filter.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HellBoardLoginFilter</filter-name>
        <url-pattern>/list</url-pattern>
        <url-pattern>/content/*</url-pattern>
    </filter-mapping>
    <!-- filter -->

    <!-- servlet -->
    <servlet>
        <servlet-name>HellBoardServlet</servlet-name>
        <servlet-class>main.java.com.hellBoard.web.HellBoardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HellBoardServlet</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/join</url-pattern>
        <url-pattern>/list</url-pattern>
        <url-pattern>/content</url-pattern>
        <url-pattern>/content/create</url-pattern>
        <url-pattern>/content/update</url-pattern>
        <url-pattern>/content/delete</url-pattern>
    </servlet-mapping>
    <!-- servlet -->

    <!-- session -->
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <!-- session -->
</web-app>